body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282828;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.5s;
}

.page-body {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin: 100px auto 20px;
}

h1 {
    margin: 0;
    color: #50fa7b;
}

.version-history {
    padding: 20px;
    text-align: center;
}

.version-history ul {
    list-style: none;
    padding: 0;
}

.version-history li {
    background-color: #282828;
    border: 1px solid #50fa7b;
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    width: 300px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.version-history li:hover {
    background-color: #50fa7b;
    color: #1e1e1e;
}

/* styles.css */
#changelog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#changelog.show {
    display: block;
    opacity: 1;
}

.changelog-content {
    background-color: #282828;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #50fa7b;
    width: 80%;
    color: #fff;
    border-radius: 10px;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.close:hover,
.close:focus {
    color: #fff;
    transform: scale(1.2);
    text-decoration: none;
    cursor: pointer;
}


#back-to-home {
    background-color: #045c54;
    color: #E0E0E0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#back-to-home:hover {
    background-color: #00cc00;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#back-to-home:active {
    transform: scale(0.95);
}

#changelog.show ~ header {
    top: -100px;
}
